*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Montserrat", sans-serif;
}

#conatiner{
    width: 100%;
    height: 100vh;
    background-image: url();
}

.to-right-img{
    position: absolute;
    top: 0;
    right: 0;
}

#nav{
    /* background-color: aquamarine; */
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo-section{
    text-align: center;
}

.nav-bar{
    width: 100%;
    padding: 50px 350px 0 350px;
    display: flex;
    justify-content: space-between;
}

.search-icon a, .cart-icon a{
    text-decoration: none;
    font-size: 15px;
    color: #6d6a6a;
}

.nav-items{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items a{
    margin-right: 50px;
    text-decoration: none;
    color: #6d6a6a;
    font-size: 15px;
}

.nav-items a:hover{
    text-decoration: underline;
}

.cart-icon a i{
    padding-right: 20px;
    color: #f34f3f;
}

.home-section{
    width: 100%;
    padding: 0 300px 0 300px;
}

.image-banner{
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.image-banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay-content{
    position: absolute;
    top:60%;
    left: 35%;
    transform: translate(-50%, -50%);
}

.overlay-content h2{
    font-size: 60px;
    color: rgb(61, 60, 60);
}

.overlay-content p{
    font-size: 25px;
    color: rgb(61, 60, 60);
}
.sale-section{
    margin-top: 50px;
    width: 100%;
    padding: 0 350px 0 350px;
    display: flex;
    justify-content: space-between;

}

.sales{
    width: 700px;
    height: 200px;
    background-color: #F4F4F3;
    margin-right: 20px;
    /* overflow: hidden; */
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.sales img:hover{
    animation: heartbeat 1.5s ease-in-out infinite both;

}

.sales img{
    width: 75%;
    height: 100%;
    object-fit: cover;
    /* text-align: right; */
}

.offer-sale, .packing{
    width: 70%;
    padding-left: 25px;
}

.offer-sale p{
    font-family: "Lora", serif;
    font-size: 50px;
    color: #f34f3f;
    margin-bottom: 28px;
}

.offer-sale span{
    font-size: 15px;
}

.packing{
    list-style: none;
    font-family: "Lora", serif;
    margin-top: 25px;
}

.packing li{
    padding-bottom: 20px;
    font-size: 18px;
    display: flex;
    justify-content: start;
    align-items: center;
    color: #6d6a6a;
}

.fa-heart{
    padding-right: 10px;
    color: #f34f3f;
}

.portfolio-section{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flower-logo-para{
    margin-top: 30px;
    font-size: 24px;
    text-align: center;
    font-family: "Lora", serif;
    color: #2b2b2b;
    font-style: italic;
}

.gallery{
    width: 100%;
    padding: 50px 250px 0 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.flowers{
    width: 280x;
    height: 350px;
    margin: 45px 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

}

.flowers img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flowers img:hover{
    animation: heartbeat 1.5s ease-in-out infinite both;
}

.box{
    position: absolute;
    height: 30px;
    width: 60px;
    top: 0;
    left: 15%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
    font-family: "Lora", serif;
    font-size: 18px;
}
.new-box{
    background-color: #f34f3f;
}

.sold-box{
    background-color: #1b1b1b;
}
.caption{
    font-size: 13px;
    padding-top: 25px;
    text-align: center;
}

.caption p{
    color: #1b1b1b;
    letter-spacing: 2px;
    font-weight: 500;
    padding-bottom: 10px;
}

.caption span{
    color: #afafaf;
}

.profile-section{
    margin-top: 50px;
    padding: 100px 350px 0 350px;
    height: 600px;
    width: 100%;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.profile-section .profile-head{
    font-family: "Playfair Display", serif;
    font-size: 40px;
    margin-bottom: 30px;
    color: #2b2b2b;
    letter-spacing: 2px;
}

.profile-section .profile-desc{
    text-align: center;
    padding-bottom: 55px;
    font-size: 18px;
    font-family: "Lora", serif;
    color: #6d6a6a;
}

.expert-profile{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
}

.profile .expertname{
    font-size: 12px;
    color: #1b1b1b;
    font-family: "Montserrat", sans-serif;
    margin-top: 20px;
    font-weight: 500;
}

.profile .degn{
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    color: #afafaf;
    margin-top: 15px;

}

.subscribe{
    margin-top: 50px;
    height: 500px;
    background-image: url(./images/pexels-jonathanborba-6144677.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.subscribe h1{
    padding-bottom: 50px;
    color: #F4F4F3;
    font-family: "Playfair Display", serif;
    font-size: 40px;
    letter-spacing: 2px;
}

.subscription-box{
    display: flex;
    border: 1px solid #ccc;
    overflow: hidden;
    box-shadow: 0 4px 8px rbga(0,0,0,0.1);
}

.email-input{
    border: none;
    padding: 10px;
    flex: 1;
    font-size: 16px;
}

.email-input:focus{
    outline: none;
}

.subscribe-button{
    background-color: #f34f3f;
    color: #F4F4F3;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.subscribe-button:hover{
    background-color: #ff4500;
}

footer{
    height: 350px;
    padding: 50px 250px;
    width: 100%;
    background-color: #FEFAF3;
}

.footer-link{
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 50px;
}

.sub-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    list-style: none;
}

.sub-section p{
    font-size: 12px;
    color: #1b1b1b;
    font-weight: 500;
    margin-bottom: 5px;
}

.sub-section a{
    font-size: 12px;
    color: #6d6a6a;
    text-decoration: none;
}

.sub-section li{
    margin: 2px 0px;
}

hr{
    background-color: #afafaf;
    margin-bottom: 5px;
}

.footer-line-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copy-right{
    font-size: 14px;
    color: #afafaf;
}

.cards{
    font-size: 20px;
    filter: opacity(0.5);
}

.up-arrow{
    float: right;
    padding-left: 0px;
}


.icon{
    height: 30px;
    width: 30px;
    display: flex;
    background-color: #f34f3f;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

.icon:hover{
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

.brands{
    color: black;
    font-size: 25px;
}

.brands:hover{
    color: white;
    animation: rotate 3s;
}

/* animation */

@keyframes heartbeat {
    from {
              transform: scale(1);
              transform-origin: center center;
              animation-timing-function: ease-out;
    }
    10% {
              transform: scale(0.91);
              animation-timing-function: ease-in;
    }
    45% {
              transform: scale(1);
              animation-timing-function: ease-out;
    }
  }
